// Place all the styles related to the Carts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.carts {
  table {
    border-collapse: collapse;
  }

  td {
    padding: 0.5em;
  }
  td.quantity {
    white-space: nowrap;
  }
  td.quantity::after {
    content: " x";
  }
  td.price {
    font-weight: bold;
    text-align: right;
  }

  tfoot {
    th {
      font-weight: bold;
      padding-top: 1em;
      text-align: right;
    }
    th.price {
      font-weight: bold;
      padding: 1.0em 0.5em 0.5em 0.5em;
      border-top: solid thin;
    }
  }

  input[type="submit"] {
    margin-top: 0.5em;
    background-color: #881;
    border-radius: 0.354em;
    border: solid thin #441;
    color: white;
    font-size: 1em;
    padding: 0.354em 1em;
    width: 100%;
  }
  input[type="submit"]:hover {
    background-color: #992;
  }
}
